<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="family.page.css">
</head>
<body>
    
  <h1 class="title">Nature Family</h1>

  <!-- Profile Cards -->
  <div class="profile">
    <div class="card">
      <img src="mountain-477832.jpg" alt="photo">
      <p>mountain</p>
    </div>
    <div class="card">
      <img src="nature.jpg" alt="photo">
      <p>flowers</p>
    </div>
    <div class="card">
      <img src="cape-7404790.jpg" alt="photo">
      <p>mountain cape</p>
    </div>
    <div class="card">
     <img src="avenue-815297.jpg" alt="photo">
      <p>trees</p>
    </div>
  </div>

  <!-- Auto-sliding -->
  <div class="Auto-sliding">
    <div class="slides">
      <img src="mountain-477832.jpg" alt="mountain Photo 1">
      <img src="cape-7404790.jpg" alt="cape Photo 3">
      <img src="avenue-815297.jpg" alt="Nature Photo 2">
    </div>
  </div>

</body>
</html>








</body>
</html>